{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Haoxuan Tong</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/selfie.jpg') }}" alt="My selfie" height="250" width="63">
                    <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">
                        <ol>
                            <li>Hi, I'm Haoxuan, this is a flask website for my APCSP class.</li>
                            <li>I'm a Junior at Del Norte High School (DNHS).</li>
                            <li>This is my website for showcasing my understanding of html and java script.</li>
                        </ol>
                    </p>
                    <a href="/achievements" class="btn btn-primary">My Achievements</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/dnhs.jpg') }}" alt="Del Norte High School" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is Del Norte High School?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Del Norte High School is a high school in the Poway Unified School District.</li>
                            <li>DNHS is located in 4S Ranch, a county in San Diego.</li>
                            <li>DNHS is ranked the 4th best Public High School in San Diego, after Canyon Crest Academy, Torrey Pines High School, and Westview High School.</li>
                            <li>It also got a very confusing bell schedule.</li>
                        </ol>
                    </p>
                    <a href="/stub/" class="btn btn-primary">Click here to see the confusing bell schedule</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Projects</h5>
                    <p class="card-text">
                        <ol>
                            <li>I have my table to form as a team.</li>
                            <li>In the team, I function as the backend, programmiing what happens behind the scenes</li>
                            <li>My other team members are AJ, Paaras, and Samarth</li>
                            <li>Here's our team project about milk</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Click here for milk</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}